.witty-message-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 3.5rem;
    margin: 0.5rem 0;    
    
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
    animation: textBounce3 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);    
}

.pulse {
    animation: neonPulse 3s infinite ease-in-out; 
}

.witty-message {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
    width: 100%;
    white-space: normal;
    line-height: 1.2;
    padding: 0 1rem;
    display: inline-block;
}

/* Rotating thru each animation to get them to rerun */
.witty-message.dynamic-0 {
    animation: textBounce 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.witty-message.dynamic-1 {
    animation: textBounce1 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.witty-message.dynamic-2 {
    animation: textBounce2 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes textBounce {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes textBounce1 {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes textBounce2 {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}


@keyframes textBounce3 {
    0% { transform: scale(0); filter: blur(4px); }
    60% { transform: scale(1.1); filter: blur(0); }
    80% { transform: scale(0.95); }
    100% { transform: scale(1); }
}

@keyframes neonPulse {
    0% {
        box-shadow: 0 0 10px currentColor;
    }
    50% {
        box-shadow: 0 0 15px currentColor, 0 0 25px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 10px currentColor;
    }
}